/* Universal Tag */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background code of the whole body */
body {
    background-color: #d9dcd6;
}

/* sets the padding, font family, background color, and text color in the class header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0072E9;
    color: #ffffff;
}

/* sets display and font size of h1 in the class header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* sets the text color of seo in h1 and the class header */
.header h1 .seo {
    color: #272727;
}

/* sets the top padding, the margit to the right, floats to the right side making the elements hug the right, font family, and font size */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* sets the list style type to none, which indicates to show no item marker, of the list*/
.header div ul {
    list-style-type: none;
}

/* sets display and margin to the left 25 pixels of the list */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets text to white and has no text decoration, which sets the text decoration style to none */
a {
    color: #ffffff;
    text-decoration: none;
}

/* all font size in p will be 16 pixels */
p {
    font-size: 16px;
}

/* sets the background image and size while centering */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg" );
    background-size: cover;
    background-position: center;
}

/* designed to float things to the left with a margin */
.float-left {
    float: left;
    margin-right: 25px;
}

/* designed to float things to the right with a margin */
.float-right {
    float: right;
    margin-left: 25px;
}

/* class content will b a certain width, have a certain display, and havea new left 
      margin */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sets search engine optimization class to different values */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets online repurtation management class to different values */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets social media marketing class to different values */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* search engine optimization img increases with max height */
.search-engine-optimization img {
    max-height: 200px;
}

/* online repurtation management img increases with max height */
.online-reputation-management img {
    max-height: 200px;
}

/* social media marketing img increases with max height */
.social-media-marketing img {
    max-height: 200px;
}

/* header in search engine optimization class increases in font size and the margin on 
    the bottom moves to 20px */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* header in online repurtation management class increases in font size and the margin on 
    the bottom moves to 20px */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* header in social media marketing class increases in font size and the margin on 
    the bottom moves to 20px */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* class benefit will have a margin, padding, pushes the element below both left and
      right, floats right, has a certain height and width, font family, and background 
      color that works with accesibility*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* sets margin of the lead benefit class and put color to default for accesiblity 
    and colorblind purposes*/
.benefit-lead {
    margin-bottom: 32px;
}

/* sets margin of the brand benefit class and put color to default for accesiblity 
    and colorblind purposes*/
.benefit-brand {
    margin-bottom: 32px;
}

/* sets margin of the cost benefit class and put color to default for accesiblity 
    and colorblind purposes*/
.benefit-cost {
    margin-bottom: 32px;
}

/* sets header of lead benefit to center the text and new margin on bottom */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets header of brand benefit to center the text and new margin on bottom */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets header of cost benefit to center the text and new margin on bottom */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets img in lead benefit to block display, new margit, and max width */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets img in brand benefit to block display, new margit, and max width */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets img in cost benefit to block display, new margit, and max width */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets fotter padding, clear both pushes other elements to not be on its sides, font 
    family, and centers the text */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets the header in the footer class to be 20 px */
.footer h2 {
    font-size: 20px;
}

